html{
    background: black;
    background-position: center -10px;
    background-size: auto 100%;
}

.mainBody{
    background-color: rgba(0, 0, 0, 0.5);        
    padding: 10%;
    padding-top: 5%;
    margin: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
    border-radius: 25px;
}
