#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

#bodyDiv{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  padding: 30px;
  padding-top: 0px;
  border-radius: 4px;
  border: 3px solid black;
}

#routerCSS{
  border: 3px solid black;
  display: block;
}


h1{
  font-size: 50px;
  /* margin-left: -10%; */
}


img{
  width: 300px;
}

html{
    background-color: black;
    color: wheat;
}

nav a {
    text-decoration: none;
    color: wheat;

}
nav a:visited{
    color: wheat;
}
nav a:hover { 
    text-decoration: underline; 
    transform: scale(0.98);
    filter: drop-shadow(0 0 0.5rem rgb(194, 194, 194, 0.5));
}