.myHeader{
    font-family: "Sigmar One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 20px;
    font-size: 50;
    color:white; 
    text-align: center;
    background: linear-gradient( 90deg, rgb(22, 174, 239) 0%, rgb(107, 230, 31) 100%, rgba(20, 105, 55, 1) 100%, rgb(31, 247, 96) 87% );
    text-shadow: 2px 2px 5px aqua;
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
}

.script-text{
    background-color: pink;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    color:black;
    font-size: large;
}

.myDiv{
    display: grid;
    border: 1px solid rgb(44, 44, 44);
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: rgb(44, 44, 44);
    border-radius: 20px;
    filter: drop-shadow(0 0 0.5rem rgb(194, 194, 194, 0.5));
}

.name{
    color: white;
    text-align: center;
    font-size: larger;
}

.progressBar {
    width: 100%;
    /* background-color: #525252; */
    height: 30px;
    margin-bottom: 10px;
    border: 2px rgba(52, 52, 52, 0.5);
    border-radius: 20px;
}

.progress {
    width: 0%;
    height: 80%;
    background-color: #4caf50;
    transition: width 0.3s ease;
    border-radius: 20px;
}