
/* 
Note to professor: While I do not have all the style attributes requested on my "gallery" elements, I do prove my understanding of them on other classes (images and characterSheets) I hope this is sufficient. Thanks!
*/
@font-face {
    font-family: OpenDyslexic-Regular;
    src: url('../ttf/OpenDyslexic-Regular.ttf');
}
* {
    font-family: 'OpenDyslexic-Regular';
    padding: 0;
    margin: 0;
}
body{
    background-image: url('../bg-aurora.png');
    background-size: cover;
}
p{
    margin-left: 20px;
    margin-right:20px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    line-height: 1.5;
    font-size: small;
}
img{
    max-width: 100%;
    border-radius: 50px;
    transition: transform 200ms;
    filter: drop-shadow(0 0 0.75rem rgb(194, 194, 194));
    margin-bottom: 10px;
}
img:hover{
    transform: scale(0.98);
    box-shadow: 0 0 20px rgb(255, 255, 255);
}
p::first-letter{
    font-size: 1.2em;
}
.myHeader{
    font-family: "Sigmar One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 20px;
    font-size: 50;
    color:white; 
    text-align: center;
    background: linear-gradient( 90deg, rgb(22, 174, 239) 0%, rgb(107, 230, 31) 100%, rgba(20, 105, 55, 1) 100%, rgb(31, 247, 96) 87% );
    text-shadow: 2px 2px 5px aqua;
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
}
.grid {
    margin: 10px;
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.5);        
    padding: 10px;
    /* border: 1px solid gray; */
    border-radius: 12px;
    box-sizing: border-box;
}
.characterSheet{
    margin: 10px;
    display: grid;
    justify-content: space-around;
    background-color: rgba(1, 1, 1, 0.5);        
    padding: 10px;
    padding-left: 20px;
    border: 2px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    box-sizing: border-box;
    transition: color 200ms;      
}
.header{
    color:white;
    padding-left: 20px;
    font-size: x-large;
}
h{
    font-size: xx-large;
}
header.characterSheet{
    font-size: larger;
}
.characterSheet a{
    text-decoration: underline;
    transition: transform 200ms;
}
.characterSheet a:hover{
    color:red;
}
h2{
    display: inline-block;
}
.footnote{
    font-size: x-small;
    margin-left: 20px;
    margin-right:20px;
}
.footnote::first-letter{
    font-size: 1em;
}
nav.bar {
    display: flex;
    border: 1px solid rgb(44, 44, 44);
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: rgb(44, 44, 44);
    border-radius: 20px;
    filter: drop-shadow(0 0 0.5rem rgb(194, 194, 194, 0.5));
    justify-content: space-evenly;
}
nav a {
    text-decoration: none;
    color: white;

}
nav a:visited{
    color: white;
}
nav a:hover { 
    text-decoration: underline; 
    transform: scale(0.98);
    filter: drop-shadow(0 0 0.5rem rgb(194, 194, 194, 0.5));
}
section {
    margin-bottom: 60px;
    padding-bottom: 30px;
    border-bottom: 2px dashed #ccc;
}
.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 0px;
    border-radius: 12px;
    /* max-height: 400px; */
    object-fit: scale-down;
    }
@media (max-width: 600px) {
    .cards {
        grid-template-columns: 1fr;
    }
}
/* .gallery{
    /* padding: 100px;
} */
footer.fixed {
    position: static;
    bottom: 0;
    width: 100%;
    background-color: rgb(44, 44, 44);
    color: white;
    text-align: center;
    font-size: xx-small;
    line-height: 3;
    border-radius: 21px;
}


#Kendal{
    color: aqua;
    border: 5px solid aqua;
}
#Alinua{
    color: chartreuse;
    border: 5px solid chartreuse;
}
#Erin{
    color:rebeccapurple;
    border: 5px solid rebeccapurple;
}
#Falst{
    color:sienna;
    border: 5px solid sienna;
}
#Dainix{
    color:chocolate;
    border: 5px solid chocolate;
}
#Tess{
    color:gold;
    border: 5px solid gold;
}
#none{
    color:white;
    border: 5px solid white;
}