#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body{
  /* background-color: rgb(240, 232, 223); */
}

button{
  margin-top: 5px;
}

#bodyDiv{
  margin-left: 20%;
  margin-right: 20%;
}

h1{
  font-size: 50px;
  margin-left: -10%;
}

html{
  background: url('./parchment.jpg');
  background-color: blueviolet;
}